@tailwind base;
@tailwind components;
@tailwind utilities;


.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button{
  appearance: none 
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	h1 {
		@apply text-2xl font-Poppins font-semibold text-black dark:text-white py-2;
	}
}

@layer components {
	.text-lb {
		@apply text-black dark:text-gray-400 bg-white dark:bg-black;
	}
	.google-btn {
		@apply flex items-center justify-center gap-2 rounded-lg border border-gray-300 px-8 py-3 text-center text-sm font-semibold outline-none ring-gray-300 transition duration-100 hover:bg-gray-100 dark:hover:bg-gray-900 focus-visible:ring active:bg-gray-200 md:text-base text-lb;
	}
	.facebook-btn {
		@apply flex items-center justify-center gap-2 rounded-lg bg-blue-500 dark:bg-indigo-800 px-8 py-3 text-center text-sm font-semibold text-white dark:text-gray-200 outline-none ring-blue-300 transition duration-100 hover:bg-blue-600 dark:hover:bg-indigo-900 focus-visible:ring active:bg-blue-700 md:text-base;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}
